<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="errorFileAppender" fileName="logs/error.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %C:%L - %msg%n"/>
        </File>
        <File name="infoFileAppender" fileName="logs/info.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="debugFileAppender" fileName="logs/debug.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %C:%L - %msg%n"/>
        </File>
        <File name="debugSearchServiceFileAppender" fileName="logs/debugSearchService.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %C:%L - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="errorLogger" level="error" additivity="false">
            <AppenderRef ref="errorFileAppender"/>
        </Logger>
        <Logger name="infoLogger" level="info" additivity="false">
            <AppenderRef ref="infoFileAppender"/>
        </Logger>
        <Logger name="debugLogger" level="debug" additivity="false">
            <AppenderRef ref="debugFileAppender"/>
        </Logger>
        <Logger name="debugSearchServiceLogger" level="debug" additivity="false">
            <AppenderRef ref="debugSearchServiceFileAppender"/>
        </Logger>
    </Loggers>
</Configuration>